<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuhu.rainbow.system.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liuhu.rainbow.system.entity.Log">
        <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="action_description" property="actionDescription" />
        <result column="class_name" property="className" />
        <result column="params" property="params" />
        <result column="ip" property="ip" />
        <result column="operate_time" property="operateTime" />
        <result column="method_name" property="methodName" />
        <result column="operate_type" property="operateType" />
    </resultMap>

     <select id="selectLogWithPage" parameterType="map" resultMap="BaseResultMap">
         SELECT * FROM sys_log  where 1 =1
         <if test="null != searchParams.username and '' != searchParams.username">
             <![CDATA[ and username like  CONCAT('%',#{searchParams.username},'%') ]]>
         </if>
         order by operate_time DESC
     </select>
</mapper>
